@theme "/home/WilliamGC/.config/rofi/wifi/themes/transparent.rasi"
	configuration {
	terminal: "kitty";
	}
configuration {
	font: "JetBrains Mono Nerd Font 11";
}

window {
	location: center;
	anchor:center;
	height: 40%;
}
